@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to my portfolio website.
I think you'll find that I'm awesome and you should pay me lots of money.

<h2>This is an update.</h2>


